@using Microsoft.AspNetCore.Mvc.Localization;

@*
    La configuracion de IViewLocalizer esta en program.cs
    y sirve para modificar las vistas segun el idioma del
    navegador del usuario.
*@
@inject IViewLocalizer viewLocalizer;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@viewLocalizer["Bienvenido"]</h1>
    <p>@viewLocalizer["Texto.Home.Bienvenida"]</p>
</div>

<div>
    <h2>@ViewBag.Saludo, UserName aqui lalala</h2>
</div>

<button class="btn btn-dark" onclick="mostrarError()">
    Mostrar Error
</button>


@section Scripts {
    <script src="~/js/utilidades.js"></script>
}